<%- include('partials/header.ejs') %>
<div class="container">
    <section class="hero">
        <div class="hero-content">
            <h1>Encuentra tu próximo compañero de ruta</h1>
            <p>Vehiculos seleccionados con experticia y detalle. Comodidad y seguridad para ti y tu familia en la cudiad ed Bogotá</p>
            <a href="/new-post" class="btn-primary"> ¡Vender mi carro ahora!</a>
        </div>
    </section>
    <div class="container">
        <h2 class="section-title">Nuestras ofertas destacadas</h2>
        <div class="car-grid"></div>
    </div>
        <% posts.forEach(post => { %>
            <div class="car-card">
                <div class="image-container">
                    <img src="<%= post.imageUrl %>" alt="<%=post.make %> <%= post.model %>" class="car-image">
                    <span class="price-tag">$<%post.price.toLocaleString()%></span>
                </div>
                <div class="car-details">
                    <h3 class="car-title"> <%post.make %> <%post.model %></h3>
                    <div class="car-specs">
                        <span><i class="icon-calendar"></i>Año: <%= post.year %></span>
                        <span><i class="incon-plate"></i>Placa terminada en: <%= post.plate || 'N/A' %></span>
                    </div>

                    <p class="car-description"> <%= post.description.substring(0, 80) %>...</p>
                    <div class="card-actions">
                        <a href="/edit/<%post.id %>" class="btn-edit"> Editar </a>
                        <a href="">https://wa.me/573000000000?text=Hola! Me interesa el <%= post.make %> <%= post.model %>" class="btn-whatsapp">Me interesa</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<%- include('partials/footer.ejs') %>